DATABASE_URL=postgresql+psycopg://postgres:elhamdulillah@localhost:5432/facturation
CORS_ORIGINS=http://localhost:5173

# Authentification
SECRET_KEY=eyabenrached1234567891010111211314151617181920212223242526222425555555456555465664115gff////
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Compte administrateur créé automatiquement au premier démarrage
ADMIN_EMAIL=eyabenrached12@gmail.com
ADMIN_PASSWORD=eyabenrached12345678910
