DATABASE_URL=postgresql+psycopg://postgres:elhamdulillah@localhost:5432/facturation
CORS_ORIGINS=http://localhost:5173

# Authentification
SECRET_KEY=change-moi-avec-une-longue-chaine-aleatoire
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Compte administrateur créé automatiquement au premier démarrage
ADMIN_EMAIL=admin@facturation-transport.com
ADMIN_PASSWORD=admin123
